host *
    StrictHostKeyChecking no

Host 10.0.*.*     
    User ubuntu
    IdentityFile ~/.ssh/ec2_csaa_demo_key
    ProxyCommand ssh -F ssh.config -W %h:%p bastion
    
Host bastion
    User                    ubuntu
    HostName                3.135.246.208
    IdentityFile            ~/.ssh/ec2_csaa_demo_key
    ControlMaster           auto
    ControlPath             ~/.ssh/remote-%%r@%%h:%%p
    ControlPersist          5m